<template name='header'>
	<header class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle='collapse' data-target='#navigation'>
					<span class="sr-only">Togggle navigation</span>
					<span class="icon-bar">1</span>
					<span class="icon-bar">2</span>
					<span class="icon-bar">3</span>
				</button>
	        	<a class="navbar-brand" href="{{pathFor 'postsList'}}">Admine</a>
	      	</div>
	      	<div class="collapse navbar-collapse" id="navigation">
	      		<ul class="nav navbar-nav navbar-right">
	      			{{> loginButtons}}
	      		</ul>
	      	</div>
		</div>
	</header>
</template>